{% extends "base.html" %}
{% block title %} Sobre nosotros{% endblock %}




{% block content %}

        <h1 class="mt-4">Sobre nosotros</h1>
       
        <hr>


  <div class="lead">
        <p class="lead"> 


Somos un grupo de miembros de la iglesia de Jesucristo de los Santos de los Últimos Días (SUD) que nos dimos a la tarea compartir nuestro estudio de las escrituras. En este año estaremos estudiando el Libro de Mormón según el programa de la Iglesia. 
  </p>


        <img class="img-fluid rounded" src="  media/posts/photos/comun.jpg   " alt="">



 <p>
Los lectores pueden interactuar haciendo comentarios sobre la clase de turno, para ello deben procurar comprender el contexto, es decir: la trama, las personas, los lugares y los acontecimientos. Citamos el manual de seminario, en los siguientes puntos:

</p>

 <ol>
 <li>
Entorno: En los relatos de las Escrituras, determina quién
está hablando, la persona o las personas a quienes
se está dirigiendo, de qué está hablando, y cuándo y
dónde ocurre el acontecimiento. 

 <li>
Visualización: Conforme vayas leyendo, busca detalles
descriptivos que te ayuden a crear una imagen mental.


 <li>
Meditación: La meditación incluye el pensar, reflexionar,
hacer preguntas y evaluar lo que sabes y lo que has
aprendido. 
 </ol>

 

</p> <p>

En efecto, la ideas detrás de estas lecturas es explorar las maneras de “meditar y sentir ". Tal como señaló el Presidente Thomas S. Monson.
 </p> 



 <hr>


<p> <span>
“El objetivo de la enseñanza del Evangelio... es inspirar a la persona a meditar, sentir y luego hacer algo para vivir los principios del Evangelio” 
<span>    </p> 

<p> Presidente Thomas S. Monson. </p> 

 <hr>






<div>


<div>

   
{% endblock %}
