 
<div class="intro">

<section>
<big  >   <span>

 <h2> Una introducción al libro Lehi en el Desierto y el Mundo de los Jareditas: Sección 22 </h2> 
<p> Hugh B. Nibley in memorian</p>
</big>
<span> </section>


 

<h2> Polı́tica en el Nuevo Mundo a partir del reinado de  Mosiah. </h2> 


  <p>

Como recordarán del libro pasado, el Rey Mosiah quería evitar una confrontaciones por el trono al no tener un sucesor y quizás influenciado tanto por lo ocurrido en el reinado del Rey Noé como por las lecturas de las planchas Jareditas que se encontraban en su poder. Así que hizo un referéndum para implementar sistema de gobierno  basado en jueces:

 </p>


 <ul>
 <li> <p>
 “hombres sabios como jueces, quienes juzgarán a este pueblo según los mandamientos de Dios (Mos. 29:11)”.

 <li>
</p><p>
Y si vuestros jueces superiores no dictaren juicios justos, haréis que un número pequeño
de vuestros jueces menores se reúna, y ellos juzgarán a vuestros jueces superiores, según la voz del pueblo (Mos. 29:29).
</p>
  </ul> <p>
Y la "voz del pueblo" decidió implementar el sistema de jueces, terminando de esta manera con el monarquismo.
</p> <p>
Hugh B. Nibley en su libro Lehi en el Desierto y el Mundo de los Jareditas 
nos dice, que si bien, no sabe "de donde Mosiah obtuvo esta idea, el asegura que por la disposición y docilidad con la que el pueblo adoptó el sistema implica que ya estaban familiarizados con el (Mos. 29:37-41)". 

</p>

<section>  <p>  <span>

“ El fundamento del régimen sacerdotal consistía en un nuevo sistema de fiscalías, en las que los sacerdotes de Amón fungían como jueces y cuya influencia fue extendiéndose cada vez más hasta competir y finalmente suplantar por completo al poder judicial en todo el territorio.”  </p>

<p> Hugh B. Nibley </p>
<span> </section>



<p>

 Luego, más adelante en su libro, nos induce a pensar que este sistema de jueces pudo ser rememorado de la decimoséptima dinastía egipcia o otra más adelante, con los incesantes esfuerzos de los sacerdotes de Amón por obtener el control del país  (año 1085 a.C) . 
Y asegura que Korihor rememora estos hechos cuando acusó a Alma (sumo sacerdote, y también juez superior del país) de revivir "insensatas ordenanzas y practicas que establecen antiguos sacerdotes para usurpar poder y autoridad” del pueblo (Al. 30:23).
   
</p><p>


Si bien, esta hipótesis pudiera ser cierta, los inmediato es pensar en las historias contenidas  en las planchas recuperadas por Nefi y leídas muchas veces por su padre Lehi, las cuales contenían  historias desde Génesis hasta aproximadamente el gobierno de los Jueces, donde habían registros de algunos reclamos del pueblo hacia los sacerdotes (por mencionar uno ).
</p><p>
 Entonces, con el correr del tiempo es posible que esas historias se hallan tergiversado entre los Lamanitas (así como se impregnó entre los lamanitas  la versión del maltrato de Nefi hacia Lamán y Lemuel) para formar la idea que "antiguos sacerdotes" solo querían  "poder y autoridad", tal como denuncia lo  Korihor.


 </p>




<div>
