

<form class=”m-t” role=”form” action=”/newteacher/{{user.pk}}” enctype=”multipart/form-data” method=”post”>
 {% csrf_token %}
   <div class=”col-md-6" align=”center”>
   
    <p>Imagen de Perfil.</p>
    <!--Este es el preview -->
    <div class=”img-preview img-preview-sm”>
       <img id=”blah” src=”/static/img/a2.jpg” alt=”your image”    width=”100" height=”100" />
     </div>
<!--Este es el boton de upload-->
    <div class=”btn-group”> 
<!--asociamos el for del label a la llamada del script de JS -->       
   <label title=”Subir Imagen” for=”id_{{profileform.photo.name}}”    class=”btn btn-primary”>
      <div style="display: none"> {{profileform.photo}} </div>
  <!-- hacer style="display: none es equivalente a class="hide" "--> 
       Upload new image
      </label> 
     </div>
   <div class=”form-group”>
 <p>Una Frase de cabecera.</p>
 {{ profileform.user}}
  </div>  
 <button type="submit" class="btn btn-primary block full-  width m-b">Cargar Perfil</button>
  
 </div>
</form>

